body,html{
  
margin:0px;

}

#map{
  position:relative;
  width: 1900px;
  height:1280px;
  background-image:url(https://github.com/henry888wang/Map2/blob/gh-pages/assets/map.png?raw=true);
  background-repeat: no-repeat;
  background-size:cover;
  opacity:20%;
  
  

  
}

#h1{
font-size:58px;
font-family: 'Mali', cursive;
position:absolute;
top:350px;
left:150px;

}

.btnx{
font-size:60px;
transform:translate(-50%,-50%);
transition:all 0.35s;
border-radius:10px 10px 10px 10px;
font-family: 'Noto Sans TC',sans-serif;
box-shadow: 5px 5px 5px 1px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
border:solid;
}

.btn{
 display:none;
font-size:30px;
transform:translate(-50%,-50%);
transition:all 0.35s;
border-radius:10px 10px 10px 10px;
font-family: 'Noto Sans TC',sans-serif;
box-shadow: 5px 5px 5px 1px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
border:solid;
}

.btnx:hover{
  
  font-size:80px;
}

.btn:hover{
  
  
  font-size:45px;
}
@keyframes map{
0%{
opacity:20%;
}
100%{
opacity:100%;
}

}
@keyframes iceland{
0%{
opacity:0%;
position:absolute;
top:130px;
}
100%{
opacity:100%;;
top:80px;}
}

@keyframes france{
0%{
opacity:0%;
position:absolute;
top:860px;
}
100%{
opacity:100%;;
top:810p;}
}

@keyframes england{
0%{
opacity:0%;
position:absolute;
top:650px;
}
100%{
opacity:100%;;
top:600p;}
}

@keyframes swissland{
0%{
opacity:0%;
position:absolute;
top:850px;
}
100%{
opacity:100%;;
top:800p;}
}

@keyframes morocco{
0%{
opacity:0%;
position:absolute;
top:1300px;
}
100%{
opacity:100%;;
top:1250p;}
}

@keyframes motto{
0%{
opacity:0%;

}
100%{
opacity:100%;

 }
}

@keyframes h2{
0%{
top:200px;
font-size:40px;
}

25%{
top:120px;
font-size:42px;
}

70%{
 font-size:40px;
top:200px;
}


80%{
top:195px;
font-size:40px;
}

100%{
  font-size:40px;
top:200px;

 }
}


@keyframes abc{

  0%{
  opacity:100%;
  }
    
  100%{
  
  opacity:0%;
  
  }
  
  }

